
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content{
  width: 50%;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 5px;
}
.content .input{
  width: 90%;
  margin: 0 auto; 
  text-align: center;
}

.particles{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .content{
    width: 90%;
  }
}
